#load_modal_dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9db3cf;
  z-index: 99999;
  opacity: 1;
}

#load_modal_dialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}

#load_modal_dialog > div > #examples > span:hover {
  cursor: pointer;
}
